@using Postal.Common.Models;
@{
    ViewData["Title"] = "Home Page";
    

    var role = @Context.Session.GetString(Constants.USER_ROLE);
    var name = Context.Session.GetString(Constants.NAME);
   

}

<div id="wrapper">

    @Html.Partial("~/Views/Shared/Navbar.cshtml")
<div class="text-center">
    <h1 class="display-4">Welcome @name</h1>
   
</div>
